.section{
    margin: 0;
    padding: 0;
}

// Publication item styling
.publication-item {
    margin: 1rem 0 0 0;
    color: var(--text-1);
    font-size: 0.9rem;

    .publication-title {
        font-size: 1rem;
        line-height: 1.4;
        color: var(--text-0);
    }


    .publication-links {
        // display: inline;
        font-size: 0.8rem;
        .publication-link{
            &:hover {
                color: var(--primary-color);
            }
            &.bibtex-copy.copied {
                color: var(--text-1);
            }
        }
        .bibtex-copy {
            border: none;         // remove boxy border from the button
            background: none;
            font: inherit;
            color: inherit;
            cursor: pointer;
            padding: 0;
            line-height: inherit;

            // mimic link underline on the text
            span {
                border-bottom: 1px solid var(--primary-color);
                position: relative;
                z-index: 1;
            }

            &:hover span {
                color: var(--primary-color);
                border-bottom: none;
            }

            &.copied span {
                color: var(--text-1);
                border-bottom: none;
            }
        }
    }    
}